<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="WebRTC code samples">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Client-side WebRTC code samples">
  <meta itemprop="name" content="WebRTC code samples">
  <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#ffffff">

  <title>Tuesday Vision Project</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div><h1>Tuesday Vision Project</h1></div>
        <div><h3>Describe the image</h3></div>
      </div>
      <div class="panel-body">
        <video autoplay class="hidden"></video>
        <div><canvas class="piture--place"></canvas></div>
        <div>
          <button type="button" id="btn-snapshot" class="btn btn-primary pull-right">Take a picture</button>
          <button type="button" id="btn-rec" class="btn btn-primary pull-right">
            <i class="fa fa-microphone rec--icon"></i>
            <span>Recognition</span>
          </button>
        </div>
      </div>
      <div class="panel-body">
        <div class="rec-area" id="text-box"></div>
      </div>
      <div class="panel-footer">
        <div id="img-desc-text"></div>
        <div id="img-desc-accuracy"></div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="static/js/main.js"></script>
</body>
</html>
